body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  color: white;
  display: block;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.message-container {
  box-sizing: border-box;
  width: 44vw;
  min-height: 94vh;
  height: auto;
  overflow: visible;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 60px;
}

.search-tools {
  display: flex;
  position: fixed;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  width: 44%;
  max-width: 660px;
  z-index: 10;
}

.message-bar {
  width: 100%;
  padding: 10px 50px 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  background-color: rgb(240, 237, 237);
}

.search-btn {
  position: absolute;
  right: 8px;
  top: 6px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  bottom: 20px;
}

.search-btn :hover {
  transition: 0.1s ease;
  height: 25px;
}

.search-btn img {
  height: 22px;
}

.message-bar:focus {
  background-color: white;
}

@media screen and (max-width: 600px) {
  .message-container {
    width: 100vw;
  }

  .search-tools {
    width: 96vw;
  }
}

.user-message,.robot-message {
  width: fit-content;
  margin-bottom: 15px;
  margin-top: 10px;
}

.user-message p {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}


.user-message {
  align-self: flex-end;
  max-width: 52%;
  margin-right: 10px;
  padding: 5px 7px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: rgb(35, 35, 35);
  color: white;
  overflow-wrap: break-word;
  white-space: normal;
}

.robot-message {
  align-self: flex-start;
  margin-left: 10px;
  border-top-right-radius: 10px;
  background-color: black;
  color: white;
  max-width: 95%;
  overflow-wrap: break-word;
  white-space: normal;
}

.loading-spinner {
  height: 40px;
  margin: -15px;
}